body {
    background-color: aqua;
    margin: 2px;
    padding: 0;
}

/* Introduction section */
.intro {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
}
.intro-message {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
    line-height: 50px;
    padding-top: 50px;
}
.mouse-click{
    width: 1.5%;
    padding-top: 150px;
}
.delani-logo{
    display: block;
    align-items: center;
}
p{
    font-size: 12px;
}
h4 {
    font-family: 'Montserrat';
    text-align: center;
    padding: 3% 0;
}

h5 {
    padding: 5% 0;
}

.container-fluid {
    text-align: center;
    padding: 5%;

}

.services {
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: center;
    
    width: 100%;
    color: white;
    }
    
    .service-provided {
    padding: 2%;
    }
    
    .service-img {
    width: 15%;
    }
    
